body{
  background-color: black;
  font-family: sans-serif;

}
#root{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: auto;
}
#title{
  grid-column: 4/10;
  color: #FFFFFF;
}
input{
  grid-column: 4/9;
  height: 35px;
  border:none;
  font-size:25px;
  border-radius: 35px;
  padding: 10px 20px;
}
button{
  margin-left: 20px;
  border-radius:2em;
  grid-column: 9/10;
  background-color: #5BE167;
  border:none;
}
.todo {
  display: grid;
  background-color: #FBFBFB;
  grid-column: 4/10;
  border-radius: 15px;
  height:150px;
  margin:35px 0px;
  padding: 35px 25px;
  justify-self: center;
  width: 80%;
  transition: 0.3s;
}
.todo:hover {
  width:100%;
  transition: 0.3s;
}
span{
  width: fit-content;
  height: fit-content;
  padding:10px ;
  border-radius: 8px;
  transition: 0.3s;
}
.spannc{
  background-color: #FED054;
}
.spanc{
  background-color: #54A9FE;
}
h1{
  font-size: 60px;
}